<div class="card-columns mt-5">
    <div *ngFor="let item of items" class="card">
        <img [src]="item.images | noImage" class="card-img-top" [alt]="item.name">
        <div class="card-body">
            <h5 class="card-title">
                {{item.name}}
            </h5>
            <p  class="card-text">
                <small *ngFor="let artista of item.artists" class="text-muted">
                    {{artista.name}},
                </small>
            </p>
        </div>
    </div>
</div>
